/* html,body {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 1em;
    text-align: center;
    background-color: white; */
    /* background-image: url(https://steamuserimages-a.akamaihd.net/ugc/563267371964767353/E4BE528E333C46F3CE6CF71A6678D2F0F8189BA7/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false); */
    /* background-size: cover;
    background-repeat:space ;
}

h1, h2 {
    font-family: "Press Start 2P", monospace;
    color: white;
}

canvas {
    background-color: black;
    background-repeat: repeat;
    width: 100%;
    height: 100;
}

#contaoner {
    max-width: 50em;
    background-color: antiquewhite;
    margin: 0 auto;
    padding: 1em;
    display: grid;
    grid-gap: 1em;
}
 */
